@model AmsLight.Models.Batch

@{
    ViewBag.Title = "Batche Detail";
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="card">
        <div class="card-header">  Training Center Deatails </div>
        <div class="card-body container">
            <div class="row">
                <div class="col-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width:200px">
                                    Batch Code
                                </th>
                                <td>
                                    @Model.BatchCode
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th> Center Name</th>
                                <td> @Model.TrainingCenter.CenterName | @Model.TrainingCenter.State | @Model.TrainingCenter.City  | @Model.TrainingCenter.AddressLine1| @Model.TrainingCenter.AddressLine2 </td>
                            </tr>
                            <tr>
                                <th>Start Date</th>
                                <td> @Model.StartDate</td>
                            </tr>
                            <tr>
                                <th> Start Time</th>
                                <td> @Model.StartTime</td>
                            </tr>
                            <tr>
                                <th> End Time</th>
                                <td> @Model.EndTime</td>
                            </tr>
                            <tr>
                                <th> Trainer 1</th>
                                <td> @Model.Trainer1</td>
                            </tr>
                            <tr>
                                <th> Trainer 2</th>
                                <td> @Model.Trainer2</td>
                            </tr>
                            <tr>
                                <th> Total Candidates</th>
                                <td>
                                    @Model.Students.Count
                                    <input class="btn btn-outline-primary float-right" onclick="" value="Update Candiate Details" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <p>
                @Html.ActionLink("Edit Training Center Deatails ", "Edit", new { id = Model.BatchId }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>

    </div>
</div>