@model AmsLight.Models.Attendance
@{
    ViewBag.Title = "Attendence"; 
}
<div class="card">
    <div class="card-header">
        Update Attendence    <input type="submit" value="Download CSV" class="btn btn-primary float-right" />
    </div>
    <div class="card-body">
        <div class="row">
            <div class="form-group col-12">
                <table class="table" id="AttendanceTable">
                    <thead>
                        <tr>
                            <th>S. No. </th>
                            <th> Student Name </th>
                            <th> Candidate Code </th>
                            <th> IsPresent </th>
                            <th> Punch In Time </th>
                            <th> Punch Out Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Students.Count; i++)
                        {
                            <tr>
                                <td> @(i + 1).</td>
                                <td> @Model.Students[i].StudentName</td>
                                <td> @Model.Students[i].CandidateCode @Html.HiddenFor(m => Model.Students[i].CandidateCode) @Html.HiddenFor(m => Model.Students[i].StudentId)</td>
                                <td> @Html.CheckBoxFor(m => Model.Students[i].IsPresent, new { @onchange = "Att.Update($(this))" }) </td>
                                <td> @Html.TextBoxFor(m => Model.Students[i].PunchInTime, new { @class = "form-control text-box single-line", @type = "time" }) </td>
                                <td> @Html.TextBoxFor(m => Model.Students[i].PunchOutTime, new { @class = "form-control text-box single-line", @type = "time" }) </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

