@model IEnumerable<AmsLight.Models.TrainingCenter>

@{
    ViewBag.Title = "Center";
    ViewBag.HeaderText = "List Of Centers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header"> List Of Training Centers </div>
    <div class="card-body">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CenterCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CenterName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zip)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AddressLine1)
                </th> 
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CenterCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CenterName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zip)
                    </td>



                    <td>
                        @Html.DisplayFor(modelItem => item.AddressLine1)
                    </td>
                    
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.TrainingCenterId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TrainingCenterId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>